@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex-direction: column; 

}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1f2937;
    align-items: center;
    padding: 0 150px;
}

.header-logo {
    display: flex;
    color: #f9faf8;
    font-size: 24px;
    font-weight: 600;
}

.header-links{
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    display: flex;
    list-style: none;
    gap: 24px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.ticker {
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: #1f2937; 
    padding: 100px 10%;
    flex: 1;
}
.ticker-lhs {
    display: flex;
    flex-direction: column;
    padding-right: 64px;
}

.ticker-lhs-content {
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    padding: 16px 0px; 
}

button {
    background-color: #3882f6;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    width: 125px;
    padding: 8px
}

.ticker-lhs-title {
    display: flex;
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.ticker-rhs {
    display: flex;    
}

.content {
    display: flex;
    flex-direction: column;
    padding: 100px 0;
}

.content-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 40px;
}

.content-body {
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.content-pair {
    display: flex;
    flex-direction: column;

}

.content-image {
    padding: 12px;
}

.inspo {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding-bottom: 80px;
}

.quote {
    display: flex;
    font-weight: 300;
    font-style: italic;    
    font-size: 36px;
    color: #1f2937;
    padding: 100px 20% 0;
}

.author {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 20%;
    font-size: 36px;
    font-weight: 700;
}

.call-to-action{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 10%;

}

.cta-box {
    display: flex;
    flex-direction:row;
    background-color: #3882f6;  
    padding: 50px;
    border-radius: 12px;
    gap: 20%;
    align-items: center;
    flex: 1;
}

.cta-box button {
    display: flex;
    flex-shrink: 0;
    border-color: #E5E7EB;
    width: 125px;
    height: 48px;
    justify-content: center;
    align-items: center;

}

.cta {
    display: flex;
    flex-direction: column;
    color: #E5E7EB;
    
}

.cta-title {
    font-weight: 700;
    font-size: 24px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 48px 0;
}

